.bmContainer {
    background-color: #f8f8f8;
    border: 2px solid #bbbbbb;
    border-radius: 5px;
    padding: 8px;
}

.bmContainer h1 {
    text-align: center;
}

.mainContent {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


/* Card Styling */
.bmCard {
    text-align: center;
    padding: 4px;
    width: 128px;
    max-width: 160px;
}

.cardLabel {
    font-size: 24px;
    font-weight: bold;
}

.bmSubtext {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.bmLegendArea {
    display: flex;
    gap: 16px;
}

.bmLegendCard {
    display: flex;
    align-items: center;
    gap: 4px;
}

@media (max-width: 960px) {
    .bmSubtext {
        margin-top: 16px;
    }
}
