.aboutContainer {
    margin-top: 48px;
}

.aboutMainContent {
    margin-top: 24px;
    margin-left: 15%;
    margin-right: 15%;
}

.aboutMainContent h1 {
    font-size: 36px;
}

@media (max-width: 960px) {
    .aboutMainContent {
        margin-left: 12px;
        margin-right: 12px;
    }
}

@media (max-width: 480px) {
    .bridgeMonContainer {
        display: none;
    }
}
