.homeContent {
    margin-top: 48px;
}

.bridgeList{
    margin-top: 24px;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    column-gap: 12px;
}

.bCard {
    border: 2px solid #bbbbbb;
    border-radius: 5px;
    padding: 6px;
    margin-top: 12px;

    display: grid;
    grid-template-columns: 320px auto;
    column-gap: 16px;
}

.bCard .rightHandContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}

.bCard img {
    width: 100%;
    height: auto;
}

.bCard h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.bCard h1, .bCard h2 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.bCard .bridgeDownText {
    color: #607020;
}

.bCard .bridgeUpText {
    color: #a02c2c;
}

.bCard .cardSubHead {
    margin-bottom: 12px;
    font-size: 20px;
}

/* Don't show by default, only on small screens */
.showWhenSmall {
    display: none;
}

@media (max-width: 1080px) {
    .bCard {
        grid-template-columns: 256px auto;
    }
}

@media (max-width: 1050px) {
    .bridgeList{
        grid-template-columns: 1fr;
    }

    .showWhenSmall {
        display: initial;
    }
}

@media (max-width: 480px) {
    .bCard {
        grid-template-columns: 0.8fr;
    }
}
